<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Projeto de Lançamento de notas{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="app">
        {% include "components/header.html" %}
        <main class="main">
            {% block content %}

            {% endblock %}
        </main>
        {% include "components/footer.html" %}
    </div>
</body>
</html>