{% extends "base.html" %}


{% block title %}
    Início - Projeto de Lançamento de notas
{% endblock %}


{% block content %}

<section class="home">

    <h2>Lançamento Automático de Notas Fiscais</h2>
    
    <p>
        O Projeto de Lançamento Automático de Notas Fiscais tem como objetivo otimizar e padronizar o processo de entrada de notas fiscais,
         reduzindo atividades manuais, erros de digitação e o tempo necessário para realizar os lançamentos no sistema.
    </p>

    <p>
        A aplicação será desenvolvida para oferecer uma interface simples e intuitiva, 
        permitindo que o usuário selecione o tipo de operação que deseja realizar e informe os dados necessários para o lançamento da nota fiscal.
    </p>
    

    
</section>

{% endblock %}