<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Vendas Terceirizadas</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'style.css')}}">
</head>
<body>
    <div class="header">
        <h2>Controle de Vendas Terceirizadas</h2>
    </div>

    <div class="body-app">

        <table class="body-table">
            <thead>
                <tr><td class="title-table" colspan="2">LISTA DE PENDENCIAS - ( Clique em Verificar Pendências, atualize a planilha e reinicie a aplicação para atualizar as pendências )</td></tr>
                <tr><td>Rede</td><td>Data Pendente</td></tr>
            </thead>
            <tbody>
                {% for p in pendencias %}
                <tr>
                    <td>{{ p["Rede"] }}</td>
                    <td>{{ p["Dias Pendentes"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="ropade">
        <ul>
            <li>OBS:</li> 
            <li>Antes de iniciar qualquer ação verifique se existe planilhas abertas.</li> 
            <li>Salve as informações e feche-as corretamente para evitar erros no procedimento.</li>
            <li>Em caso de dúvidas <a href="/abrirmanual/{{manual}}">Clique Aqui</a> para acessar o manual de utilização</li>
        </ul>
    </div>
    <div class="rodape">
        <a class="link-arquivos" href="/abrir_outros/lancamentos_Automaticos">INICIAR LANÇAMENTOS AUTOMÁTICOS</a>
        <a class="link-arquivos" href="/abrir_outros/relatorios">GERAR RELATÓRIOS CSV</a>
        <a class="link-arquivos" href="/abrir/{{controle_pendencias}}">VERIFICAR PENDÊNCIAS</a>
        <a class="link-arquivos" href="/abrir_outros/pendencias">ENVIAR PENDÊNCIAS</a>
    </div>

</body>
</html>