/* 

    PALETA DE CORES 
    VERDE: #47591E
    ROSA VERMELHADO: #D97762
    VERMELHO: #BF3434
    MARROM: #8C3737

*/

body{
    border: 0;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header{
    background-color: #BF3434 ;
    color: white;
    font-weight: bold;
    text-align: center;
}

.body-app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#47591E;
    color: white;
    text-align: center;
}

.body-table td, tr, table{
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
}

.body-table thead{
    background-color: #BF3434;
    color: white;
    font-weight: bold;
}

.body-table .title-table{
    background-color: white;
    color: #47591E;
}

.body-table button{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #D97762;
    cursor: pointer;
}

.body-table button:hover{
    background-color: #BF3434;
    color: white;
}


.link-arquivos {
    color: #47591E;
    background-color: white;
    border: 1px solid black;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    width: 300px;
    height: fit-content;
    margin: 30px;
    text-align: center;
}

.link-arquivos:hover{
    background-color: #BF3434;
    color: white;
}

.rodape{
    display: flex;
    justify-content: center;
}

ul{
    align-items: center;
    font-weight: bold;
    list-style: none;
}